/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --search-local-modal-width: 420px;
  --ifm-color-primary: #6082be;
  --ifm-color-primary-dark: #4c72b6;
  --ifm-color-primary-darker: #476bad;
  --ifm-color-primary-darkest: #3a588e;
  --ifm-color-primary-light: #7492c6;
  --ifm-color-primary-lighter: #7e9aca;
  --ifm-color-primary-lightest: #9db2d7;
  --ifm-code-font-size: 85%;
}

html[data-theme='dark'] {
  --ifm-color-primary: #8ca88a;
  --ifm-color-primary-dark: #7b9b78;
  --ifm-color-primary-darker: #729470;
  --ifm-color-primary-darkest: #5d7b5b;
  --ifm-color-primary-light: #9db59c;
  --ifm-color-primary-lighter: #a6bca4;
  --ifm-color-primary-lightest: #c0cfbf;
}

/* Email glyph*/
.header-email-link:hover {
  opacity: 0.6;
}
.header-email-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/glyphs/emailLight.svg) no-repeat;
}
html[data-theme='dark'] .header-email-link:before {
  background: url(/img/glyphs/emailDark.svg) no-repeat;
}

/* Discord glyph*/
.header-discord-link:hover {
  opacity: 0.6;
}
.header-discord-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/glyphs/discordLight.svg) no-repeat;
}
html[data-theme='dark'] .header-discord-link:before {
  background: url(/img/glyphs/discordDark.svg) no-repeat;
}

/* LinkedIn glyph*/
.header-linkedin-link:hover {
  opacity: 0.6;
}
.header-linkedin-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/glyphs/linkedinLight.svg) no-repeat;
}
html[data-theme='dark'] .header-linkedin-link:before {
  background: url(/img/glyphs/linkedinDark.svg) no-repeat;
}

/* GitHub glyph*/
.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/glyphs/githubLight.svg) no-repeat;
}
html[data-theme='dark'] .header-github-link:before {
  background: url(/img/glyphs/githubDark.svg) no-repeat;
}
