/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --search-local-modal-width: 420px;
  --ifm-color-primary: #6495ed;
  --ifm-color-primary-dark: #4680e9;
  --ifm-color-primary-darker: #3776e8;
  --ifm-color-primary-darkest: #195bd3;
  --ifm-color-primary-light: #82aaf1;
  --ifm-color-primary-lighter: #91b4f2;
  --ifm-color-primary-lightest: #bfd3f8;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-color-primary: #a1c084;
  --ifm-color-primary-dark: #91b56f;
  --ifm-color-primary-darker: #88b064;
  --ifm-color-primary-darkest: #70964d;
  --ifm-color-primary-light: #b1cb99;
  --ifm-color-primary-lighter: #bad0a4;
  --ifm-color-primary-lightest: #d2e1c4;
}
